.App {
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Balsamiq Sans", cursive;
}

form {
  margin: 10px auto;
  width: 70%;
}
.word {
  font-size: 50px;
}

.speechPart {
  font-size: 20px;
}
.search {
  font-family: "Balsamiq Sans", cursive;

  max-width: 45%;
  min-width: 40%;
  margin-right: 15px;
  text-align: center;
  border: 0.01mm solid rgba(50, 138, 220, 0.6);

  border-radius: 25px;
  box-shadow: 2px 2px 5px;
  padding: 5px 0;
}
.submit {
  font-family: "Balsamiq Sans", cursive;
  padding: 5px 10px;
  background-color: lightblue;
  border-radius: 15px;
}
.submit:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px black;
}
#opnSrcLink {
  font-family: "Kalam", cursive;
}

h1.header {
  cursor: default;
  text-align: center;
  font-family: "Farsan", cursive;

  font-size: 2.5em;
  margin-block-end: 0;
}
