.App {
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
  margin: 15px auto 0 auto;
  font-family: "Balsamiq Sans", cursive;
  border: 2mm ridge rgba(170, 50, 220, 0.6);
}

form {
  margin: 10px auto;
}
.word {
  font-size: 50px;
}

.speechPart {
  font-size: 20px;
}
.search {
  margin-right: 15px;
  font-family: "Balsamiq Sans", cursive;
}
.submit {
  font-family: "Balsamiq Sans", cursive;
  padding: 5px 15px;
  background-color: lightblue;
  border-radius: 5px;
}
.submit:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px black;
}
#opnSrcLink {
  font-family: "Kalam", cursive;
}
