li {
  text-align: left;
  margin-bottom: 8px;
}
#definition {
  border: 0.01mm solid rgba(50, 138, 220, 0.6);
  margin: 10px auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px;
  padding: 5px 0;
}

.collapsible {
  background-color: #eee;
  padding: 18px;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.content {
  max-width: 80%;
  margin-inline-end: 4em;
}
.header {
  cursor: pointer;
}
#truncated {
  float: right;
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  padding: 5px 10px;
  background-color: lightblue;
  border-radius: 15px;
  margin-right: 10px;
  position: relative;
  top: 15px;
}
#truncated:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px black;
}
