.player {
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
  padding: 0 5px;
  background-color: lightblue;
  border-radius: 5px;
}
.player:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px black;
}
